h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5.9rem;
    font-weight: 900;
    color: #26acef;
    text-shadow: 3px 3px 5px rgba(0,0,0, 0.5);
    animation: slide  2s forwards;
    opacity: 0;
    
}

@keyframes slide{
    0%{
         opacity: 0;
         transform: translateY(150px);
         transform: rotateX(180deg);
    }
    100%{

        opacity: 1;
        transform: translateY(0px);
    }
}
#imagecloud{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    
}
#cloudicon{
    align-self: center;
    height: 100px;
    width: 100px;
    margin-bottom: 0px;
    animation: fadein 2s forwards;
    opacity: 0;

}

@keyframes fadein{
    from{opacity: 0;}
    to{opacity: 1;}
}

body{

background-image: url("images/bacground.jpg");
background-repeat: no-repeat;
background-size: cover;
}

#container{

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
#search-container{
margin-top: 10px;
background-image: radial-gradient(rgb(255, 21, 251),rgb(47, 35, 35));
width: 300px;
max-height: 200px;  
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 50px;
gap: 2px;
animation: rotate  2s forwards;
opacity: 0;

}

@keyframes rotate{
    0%{
        opacity: 0;
        transform: rotateY(130deg);
    }
    100%{
        opacity: 100;
        transform: rotate(0deg);
    }
}
#input-container{
    position: relative;
    width: 220px;
}
#search{
    width: 100%;
    padding: 8px 10px 8px  30px;
    
}

#search::placeholder{
    color: #26acef;
    font-weight: bolder;
}
#search:valid{
    color: #26acef;
    font-weight: bolder;
}

#input-container #icon{
 
    position: absolute;
   pointer-events: none;
   left: 10px;
   top: 20px;
 transform: translateY(-50%);
   
}
#tit{
   text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
    color: #26acef;
    text-shadow: 3px 3px 5px rgba(0,0,0, 0.5);
}
#search{
 border-radius: 20px;
 background-color: rgb(143, 25, 108);
 margin-bottom: 30px;
 color: white;
 width: 180px;
 height: 25px;
}

#data-container{
margin-top: 30px;
background-image: radial-gradient(rgb(200, 30, 197),rgb(47, 35, 35));
width: 300px;
min-height: 400px;  
border-radius: 50px;
padding-bottom: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 10px;
animation: rotate 2s forwards;
}


#data{
    margin-top: 30px;
    align-items: center;
    display: flex;
    width: 270px;
    height: 50px;
    justify-content:space-between;
    box-shadow: 0 0 25px rgb(227, 3, 193);
    border-radius: 30px;
    opacity: 0.8;
}
#data p{
    margin-right: 20px;
    color: #ff00a2;
    font-size: 20px;
    font-weight: bolder;
}
#data h3{
    margin-left: 10px;
    color: #f39add
}

#container-climate{
  display: flex;
  justify-content: center;
  background-image: radial-gradient(rgb(224, 148, 223),rgba(248, 210, 210, 0.993));
  align-items: center;
  margin-top: 30px;
  width: 250px;
  min-height: 170px;
  border-radius: 50px;
  flex-direction: column;
  padding: 10px;

}

#climate{
    mix-blend-mode: multiply;  
    width: 100px;
    height: 100px;
    
        
}
#description{
 text-align: center;   
 font-weight: bolder;
 color: #eb5cc7;
 font-size: 2rem ;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 animation: sliderotate 3s forwards
}

@keyframes sliderotate{
  
    from{
        opacity: 0;   
        transform: translateY(120px);
        transform: rotateY(180deg);}
    to{
        opacity: 0.75;
        transform: rotateX(90deg);
        }
    to{
        opacity: 1;
         transform: rotateX(0deg);
    }    
}


@media (max-width:600px) {
 
#search-container{
    width: 270px;
    max-height: 200px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    gap: 2px;
    animation: rotate  2s forwards;
    opacity: 0;
}

#data-container{
    max-width: 280px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#data{
    margin-top: 30px;
    align-items: center;
    display: flex;
    width: 240px;
    height: 40px;
    justify-content:space-between;
    box-shadow: 0 0 25px rgb(227, 3, 193);
    border-radius: 30px;
    opacity: 0.8;
}

#data p{

    font-size: 15px;
}

#container-climate{
  display: flex;
  justify-content: center;
  background-image: radial-gradient(rgb(224, 148, 223),rgba(248, 210, 210, 0.993));
  align-items: center;
  margin-top: 30px;
  width: 200px;
  max-height: 200px;
  border-radius: 50px;
  flex-direction: column;
  padding-top: 20px;
  
}

#climate{
    width: 100px;
    height:90px
    
}
}